<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
* Magedelight
* Copyright (C) 2017 Magedelight <info@magedelight.com>
*
* @category Magedelight
* @package Magedelight_ScheduleShipping
* @copyright Copyright (c) 2017 Mage Delight (http://www.magedelight.com/)
* @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
* @author Magedelight <info@magedelight.com>
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <!-- main -->
        <add id="Magedelight_ScheduleShipping::scheduleshipping_root"
             title="Schedule Shipping"
             module="Magedelight_ScheduleShipping"
             sortOrder="48"
             resource="Magedelight_ScheduleShipping::root"
             toolTip="magedelight_base"/>

        <add id="Magedelight_ScheduleShipping::scheduleshipping_root_commonlyvisible"
             title="Schedule Shipping"
             module="Magedelight_ScheduleShipping"
             sortOrder="10"
             parent="Magedelight_Base::md_modules"
             resource="Magedelight_ScheduleShipping::root"/>
             
        <add id="Magedelight_ScheduleShipping::scheduleshipping_shipping"
             title="Schedule Shipping"
             module="Magedelight_ScheduleShipping"
             sortOrder="60"
             parent="Magedelight_ScheduleShipping::scheduleshipping_root"
             action="adminhtml/system_config/edit/section/magedelight_ScheduleShipping"
             resource="Magedelight_ScheduleShipping::scheduleshipping_shipping"/>
        <!--<add id="Magedelight_ScheduleShipping::scheduleshipping"
             resource="Magedelight_ScheduleShipping::scheduleshipping"
             module="Magedelight_ScheduleShipping"
             title="Schedule Shipping" sortOrder="20"
             dependsOnConfig="magedelight_ScheduleShipping/general/enable" />
        <add id="Magedelight_ScheduleShipping::settings" title="Settings"
             module="Magedelight_ScheduleShipping" sortOrder="20" parent="Magedelight_ScheduleShipping::scheduleshipping"
             action="adminhtml/system_config/edit/section/magedelight_ScheduleShipping" resource="Magedelight_ScheduleShipping::config_scheduleshipping" dependsOnConfig="magedelight_ScheduleShipping/general/enable" />-->
    </menu>
</config>