<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Model\BillingAddressManagement">
        <plugin disabled="false" name="CommerceExtensions_AddressType_Magento_Quote_Model_BillingAddressManagement" sortOrder="10" type="CommerceExtensions\AddressType\Plugin\Magento\Quote\Model\BillingAddressManagement"/>
    </type>
    <type name="Magento\Quote\Model\ShippingAddressManagement">
        <plugin disabled="false" name="CommerceExtensions_AddressType_Plugin_Magento_Quote_Model_ShippingAddressManagement" sortOrder="10" type="CommerceExtensions\AddressType\Plugin\Magento\Quote\Model\ShippingAddressManagement"/>
    </type>
    <type name="Magento\Checkout\Model\PaymentInformationManagement">
        <plugin disabled="false" name="CommerceExtensions_AddressType_Plugin_Magento_Checkout_Model_PaymentInformationManagement" sortOrder="10" type="CommerceExtensions\AddressType\Plugin\Magento\Checkout\Model\PaymentInformationManagement"/>
    </type>

    <!-- For converting select type into radio button  -->
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="sr_ModuleName_checkout_layout_processor" type="CommerceExtensions\AddressType\Plugin\Block\LayoutProcessor" sortOrder="1"/>
    </type>	

    <preference for="Magento\Sales\Block\Adminhtml\Order\View\Tab\Info" type="CommerceExtensions\AddressType\Block\Adminhtml\Order\View\Tab\Info" />
    <preference for="Magento\Fedex\Model\Carrier" type="CommerceExtensions\AddressType\Model\CarrierFedex" />		
</config>
